body {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}

th, td {
    text-align: left;
    padding: 1px 10px 1px 5px;
    border: 0.5px solid rgb(224, 224, 224);
    vertical-align: top;
}

th, td.rowName {
    font-weight: 500;
    color: rgb(56, 110, 180);
    background-color: rgb(224, 224, 224);
}

table {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    border-spacing: 0;
    margin: 5px;
    -webkit-box-shadow: 5px 4px 6px 0px rgba(176,176,176,0.5);
    -moz-box-shadow: 5px 4px 6px 0px rgba(176,176,176,0.5);
    box-shadow: 5px 4px 6px 0px rgba(176,176,176,0.75);
}

table.shrinked {
    display: none;
}

span.string {
    color: #a31515;
}

span.number {
    color: #09885a;
}

span.boolean {
    color: #0000ff;
}